*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    overflow: hidden;
}

.App{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.title{
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-wrapper{
    border: 1px solid red;
    height: 30vh;
    width: 100%;
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.dashboard-wrapper{
    border: 1px solid red;
    width: 100%;
    height: 80vh;
    .content{
        height: 100%;
        .canvas{
            width: 50%;
            height: 90%;
            .p5canvas-wrapper{
                height: 100%;
                display: flex;
                justify-content: center;
            }
        }
        .controls{
            border: 1px solid red;
            height: 10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;     
            font-size: 1.5rem;
            p{
                border: 1px solid red;
                width: 20%;
            }
            svg{
                font-size: 3rem;
            }

            // button{
            //     font-size: 2rem;
                // padding: 0.3rem 0.5rem;
                // border: none;
                // background-color: slateblue;
                // color:white;
                // border-radius: 20px;
            // }
            // button:focus{
            //     outline: 0;
            // }
        }
        .presets{
            border: 1px solid red;
            width: 20%;
            height: 100%; 
        }
        .info{
            border: 1px solid green;
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;            
            h1{
                text-align: center;
                font-size: 2.5rem;
            }
            .rules{
                height: 100%;   
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                p{
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.content{
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.grid-wrapper{
    background-color: red;
    height: 80%;
}